@import '../../../assets/styles/variables';
@import '../../../assets/styles/media';

.header {
  display: flex;
  background: $bg-color;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;

  &__logo {
    font-weight: 400;
    margin-left: 60px;
    cursor: default;
  }

  &__menu {
    display: flex;
    @include media(tablet) {
      position: absolute;
      bottom: 174px;
      opacity: 0;
      left: 0;
      flex-direction: column;
      width: 100%;
    }

    &-active {
      @include media(tablet) {
        opacity: 1;
        transition: .3s;
      }
    }
  }

  &__link {
    background: $button-no-active-color;
    color: $text-color;
    width: 160px;
    text-align: center;
    padding: 16px 0;
    transition: .3s;

    &:hover {
      background: $button-hover-color;
    }
  }

  &__link-active {
    background: $secondary-color;
    color: $bg-color;
    width: 160px;
    text-align: center;
    padding: 16px 0;
    transition: .3s;
  }
}

.burger-menu {
  margin-right: 20px;
  padding: 30px 5px;
  cursor: pointer;
  display: none;

  & span {
    display: block;
    width: 40px;
    height: 4px;
    background: $secondary-color;
    transition: .3s;

    &:before, &:after {
      content: '';
      width: inherit;
      height: inherit;
      background: $secondary-color;
      display: inherit;
      transition: inherit;
    }

    &:after {
      transform: translateY(-14px);
    }

    &:before {
      transform: translateY(10px);
    }
  }

  &-active span {
    background: transparent;

    &:after {
      transform: rotate(-225deg);
    }

    &:before {
      transform: translateY(4px) rotate(225deg);
    }
  }

  @include media(tablet) {
    display: block;
  }
}