@import "../../../assets/styles/base";
@import "../../../assets/styles/variables";

.information {
  padding: 160px 0;
  background: $primary-color;

  .container {
    display: flex;
    gap: 220px;
  }


  &__block {
    max-width: 45%;
  }

  &__title {
    font-size: 48px;
    font-weight: 500;
    cursor: default;
  }

  &__text {
    margin-top: 48px;
    margin-bottom: 48px;
    line-height: 32px;
    font-weight: 300;
    cursor: default;
  }

}