@import "app/assets/styles/base.scss";
@import "app/assets/styles/variables.scss";

.advantages {
  .container {
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
    position: relative;
  }
}