.project-list {
  padding: 80px 160px;
  text-align: center;

  &__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 48px;
  }

  &__text {
    font-weight: 200;
    max-width: 80%;
    line-height: 30px;
    margin: 0 auto;
  }
}