@import "app/assets/styles/base.scss";
@import "app/assets/styles/variables.scss";

.about-information {
  padding: 120px 0;
  background: $primary-color;

  .container {
    display: flex;
    gap: 100px;
  }


  &__block {
  }

  &__title {
    font-size: 48px;
    font-weight: 500;
    cursor: default;
    margin-bottom: 80px;
  }

  &__text {
    line-height: 40px;
    font-weight: 400;
    font-size: 20px;
    cursor: default;
    max-width: 45%;
    align-self: center;
    padding-left: 20px;
    border-left: 2px solid $secondary-color;
  }
}