@import "app/assets/styles/variables.scss";

.btn {
  border: none;
  padding: 20px 44px;
  background: $secondary-color;
  color: $bg-color;
  font-size: 18px;
  transition: .3s;

  &:hover {
    opacity: 0.6;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}