@import "variables";
@import "media";

.btn {
  border: none;
  padding: 20px 44px;
  background: $secondary-color;
  color: $bg-color;
  font-size: 18px;
  transition: .3s;

  &:hover {
    opacity: 0.6;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  @include media(laptopL) {
    max-width: 1024px;
  }
  @include media(laptopM) {
    max-width: 768px;
  }
  @include media(tablet) {
    max-width: 425px;
  }
  @include media(mobile) {
    max-width: 100%;
  }
}