@import "app/assets/styles/base.scss";
@import "../../../../assets/styles/variables";

.feedbacks {
  padding: 80px 0;

  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 48px;
    cursor: default;
  }

  &__list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  &__list-arrows {
    display: flex;
    gap: 20px;

    &-right-side {
      justify-content: flex-end;
    }

    &-left-side {
      justify-content: flex-start;
    }
  }

  &__left-arrow {
    align-self: center;
    cursor: pointer;
  }

  &__right-arrow {
    align-self: center;
    transform: rotate(180deg);
    cursor: pointer;
  }

  &__arrow-none {
    visibility: hidden;
  }
}
