@import "app/assets/styles/base.scss";
@import "app/assets/styles/variables.scss";

.information {
  display: flex;
  padding: 160px;
  gap: 220px;
  background: $primary-color;


  &__block {
    max-width: 45%;
  }
  &__title {
    font-size: 48px;
    font-weight: 500;
    cursor: default;
  }
  &__text {
    margin-top: 48px;
    line-height: 32px;
    font-weight: 200;
    cursor: default;
  }
  .btn {
    margin-top: 32px;
  }
}